.button {
  border: 0;
  border-radius: 30px;
  font-family: "JetBrains Mono", monospace;
  background-color: #6200ea;
  color: white;
}

.navbar .button {
  font-weight: 500;
}

.selected .button {
  background-color: white;
  color: #6200ea;
}

.button p {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.button:hover {
  cursor: pointer;
  background-color: #4707a2;
}
