.payment-method {
  padding-top: 7rem;
}

.payment-method .main {
  grid-column: 2;
  font-family: "JetBrains Mono", monospace;
  background-color: #1e1e1e;
  border-radius: 30px;
  box-shadow: black 0px 0px 10px;
  width: 30rem;
  padding: 1.5rem;
  margin: auto;
  margin-top: 2rem;
}

.payment-method .main h1 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.form-payment-method {
  display: flex;
  flex-direction: column;
}

.form-payment-method label {
  margin-top: 1rem;
}

.btn-payment-method {
  font-size: 1.5rem;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
}
