body {
    font-family: "JetBrains Mono", monospace;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.nuevo-juego-container {
    background-color: #1E1E1E;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    max-width: 40rem;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    padding-top: 9rem;
}

.nuevo-juego-container .input-group {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.nuevo-juego-container .input-group .column {
    display: flex;
    flex-direction: column;
}

.nuevo-juego-container .input-precio {
    display: flex;
    align-items: center;
}

.nuevo-juego-container .input-precio span {
    margin-right: 0.5rem;
}

.nuevo-juego-container textarea {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    margin-bottom: 1rem;
    resize: none;
}

.nuevo-juego-container input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    margin-bottom: 1rem;
}

.nuevo-juego-container .specs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.nuevo-juego-container .specs-container .column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nuevo-juego-container h4 {
    color: #fff;
    margin-bottom: 0.75rem;
}

.nuevo-juego-container .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.nuevo-juego-container .cancelar-btn,
.añadir-btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
}

.nuevo-juego-container .cancelar-btn {
    background-color: #333;
    color: white;
}

.nuevo-juego-container .añadir-btn {
    background-color: #6200ea;
    color: white;
}

.nuevo-juego-container .añadir-btn:hover {
    background-color: #3700b3;
}

.nuevo-juego-container .cancelar-btn:hover {
    background-color: #555;
}

.nuevo-juego-container .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: #333;
    border-radius: 0.5rem;
    grid-row: span 2;
}

.nuevo-juego-container .icon-container img {
    max-width: 80%;
    height: auto;
}

.nuevo-juego-container .input-group .column:nth-child(1), .input-group .column:nth-child(2) {
    margin-bottom: 1.5rem;
}