.navbar {
  grid-column: 2;
  grid-row: 2;
  background-color: #6200ea;
  border-radius: 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0.4rem 0;
  display: flex;
  justify-content: space-around;
}
