.library {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  padding-top: 7rem;
}

.library .main {
  grid-column: 2;
  font-family: "JetBrains Mono", monospace;
  margin-top: 2rem;
}

.library ul {
  padding: 0;
  list-style: none;
  background-color: #1e1e1e;
  border-radius: 30px;
  box-shadow: black 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
