.home {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  padding-top: 7rem;
}

.home .main {
  grid-column: 2;
  font-family: "JetBrains Mono", monospace;
  margin-top: 2rem;
}

.home .main h2 {
  display: inline-block;
  color: #6200ea;
  background-color: white;
  border-radius: 30px;
  padding: 1px 2rem 1px 2rem;
  margin-bottom: 1rem;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 2rem;
}
/*grid-template-rows: repeat(2, 1fr);*/