.cart {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  padding-top: 7rem;
}

.cart .main {
  grid-column: 2;
  font-family: "JetBrains Mono", monospace;
  margin-top: 2rem;
  background-color: #1e1e1e;
  border-radius: 30px;
  box-shadow: black 0px 0px 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart ul {
  padding: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.btn-cart p {
  font-size: 1.3rem;
}
.cart-options h2 {
  text-align: center;
  font-size: 1.5rem;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
}

.empty-cart h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.empty-cart p {
  text-align: center;
  font-size: 3rem;
}
