.game-list {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 20px;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
  width: 95%;
  max-height: 10.5rem;
  overflow: hidden;
}

.game-list:hover {
  transform: scale(1.02);
}

.game-list img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 1rem;
}

.game-list .game-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}

.game-list .game-info h2 {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
}

.game-list .game-state {
  font-size: 0.8rem;
  color: #bbbbbb;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.game-list p {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #bbbbbb;
  margin: 0.2rem 0;
}

.game-list .game-description-modify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.game-list .modify-btn {
  padding: 0.4rem 1rem;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.85rem;
  align-self: flex-end;
}

.game-list .modify-btn:hover {
  background-color: #3700b3;
}

.game-list .icon {
  width: 24px;
  height: 24px;
  margin-right: 0.3rem;
  color: #6200ea;
}

.game-list .cart-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.game-list .btn-options {
  font-size: 0.75rem;
  padding: 0.2rem 0.4rem;
}

.game-list .btn-cart-trash {
  background-color: #333;
  color: #6200ea;
  font-size: 1.2rem;
}

.game-list .wishlist-options {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.game-list .wishlist-description {
  font-size: 0.85rem;
  color: #bbbbbb;
  line-height: 1.5;
  margin-right: 1rem;
}

.game-list .wishlist-price-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 0;
}

.game-list .wishlist-price {
  font-size: 1rem;
  color: #ffffff;
  margin: 0;
  margin-top: 1.5rem;
}

.game-list .btn-wishlist {
  font-style: normal;
}