.game-detail {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  padding-top: 7rem;
}

.game-detail .main {
  grid-column: 2;
  font-family: "JetBrains Mono", monospace;
}

.game-detail .main h2 {
  display: inline-block;
  color: #6200ea;
  background-color: white;
  border-radius: 30px;
  padding: 1px 2rem 1px 2rem;
}
