.game-detail {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  padding-top: 7rem;
}

.game-detail .main {
  grid-column: 2;
  font-family: "JetBrains Mono", monospace;
  background-color: #1e1e1e;
  border-radius: 30px;
  margin-top: 2rem;
  padding: 1rem;
}

.game-header {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 1.5fr 1.5fr;
  grid-gap: 1rem;
}

.game-header img {
  grid-column: 1;
  grid-row: 1;

  width: 6rem;
  aspect-ratio: 1/1;
  margin: auto;

  object-fit: cover;
  border-radius: 30px;
}

.game-header h1 {
  grid-column: 2/4;
  margin-top: auto;
  margin-bottom: auto;
}
.game-header iframe {
  grid-column: 1/3;
  grid-row: 2 / 4;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 30px;
}

.game-header .price-detail {
  background-color: #333333;
  border-radius: 30px;
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  font-size: 2rem;
}

.btns-anadir {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.btn-anadir {
  font-size: 0.9rem;
  display: inline-block;
  padding: 2px 5px;
}

.game-header .rating {
  background-color: #333333;
  border-radius: 30px;
  grid-column: 3;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  font-size: 2rem;
}

.game-header .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
  padding-bottom: 1rem;
}

.game-header .categories p {
  font-size: 1rem;
  background-color: #6200ea;
  border-radius: 30px;
  padding: 3px;
  flex: 1 1 auto;
  text-align: center;
}

.game-info > div {
  background-color: #333333;
  margin-top: 1rem;
  border-radius: 30px;
  padding: 1rem;
}

.game-info > div h2 {
  margin-bottom: 0.3rem;
  display: inline-block;
}

.requirements {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.game-comments .comment {
  background-color: #464646;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 30px;
  margin-top: 1rem;
}

.game-comments .comment p {
  font-style: italic;
  color: #d9d9d9;
}

.game-info .game-comments .btn-comment {
  display: inline-block;
  background-color: #6200ea;
  border-radius: 30px;
  margin: 0;
  padding: 0.3rem;

  color: #fff;
  cursor: pointer;
}

.game-info .game-comments .btn-comment p {
  margin: 0;
  font-size: 0.8rem;
}

.modal-form {
  display: grid;
  grid-template-rows: 1fr 1fr 0.5fr;
  height: 100%;
}

.modal-form .top {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-gap: 0.5rem;
}

.modal-form .top .logo {
  grid-column: 1;
  grid-row: 1 / 4;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 30px;
}

.modal-form .top h3 {
  grid-column: 2;
  grid-row: 1;
  font-size: 2rem;
}

.modal-form .top input[type="range"] {
  grid-column: 2;
  grid-row: 2;
}

.modal-form .top span {
  grid-column: 2;
  grid-row: 3;
}

.modal-form textarea {
  border-radius: 30px;
  border-style: solid;
  border: 1px;
  background-color: #464646;
  color: #d9d9d9;
}
